@model Partners.Management.Web.Models.SingleImageUpload

<h4>@Model.Section - @Model.ImgType Upload</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Single" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <input asp-for="MemepageId" class="form-control" />
                <input asp-for="ImgType" class="form-control" />
                <input asp-for="Section" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" type="file" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
