@model Meme.Domain.Models.MemePageModel

<h4>@Model.Name - Home page Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="HomeSection.Title" class="control-label"></label>
                <input name="Title" asp-for="HomeSection.Title" class="form-control" />
                <span asp-validation-for="HomeSection.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeSection.Tagline" class="control-label"></label>
                <input name="Tagline" asp-for="HomeSection.Tagline" class="form-control" />
                <span asp-validation-for="HomeSection.Tagline" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HomeSection.Description" class="control-label"></label>
                <input name="Description" asp-for="HomeSection.Description" class="form-control" />
                <span asp-validation-for="HomeSection.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item active">Image Uploads</li>
            <li class="list-group-item">
                <div><a href="/memepages/@Model.Id/imageupload/single?imgType=banner&section=home">Upload home banner</a></div>
                <div><a href="/memepages/@Model.Id/imageupload/single?imgType=background&section=home">Upload home background (optional)</a></div>
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
